body {
  margin: 0;
  line-height: inherit;
  background-color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  color: white;
}

a {
  color: #e5e7eb;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

p {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

a {
  color: #e5e7eb;
  text-decoration: inherit;
}

.font-medium {
  font-weight: 500;
}

small {
  font-size: 80%;
  color: white;
}
